<html>
<head> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #000000;
}

.topnav a {
  float: left;
  color: #ddd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #4CAF50;
  color:dark grey;
}

.topnav a.active {
  background-color: #4CAF50;
  color:dark grey;
}
body 
	{
  		background-image: url("/images/back.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}	
label
	{
    		display: inline-block;
    		float: center;
    		clear: center;
   		width: 250px;
    		text-align: center;
                Color:rgba(255,0,0,0.6);
		font-size: 14px;
		font-family: Arial, Helvetica, sans-serif;
	}
p
{
  Color:white
  Text-indent:30px;
  Text-transform:uppercase;
  Margin-left:600;
  Margin-bottom:lem;
}
</style>
</head>
<body>
     <div class="topnav">
      <a href="#aboutus">About Us</a>
      <a class="active" href="/signup">Sign Up</a>
      <a class="active" href="/login">Login</a>
      
</div>