<html>
<head> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #000000;
}

.topnav a {
  float: left;
  color: #ddd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #4CAF50;
  color:dark grey;
}

.topnav a.active {
  background-color: #4CAF50;
  color:dark grey;
}
body 
	{
  		background-image: url("images/back.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}	
label
	{
    		display: inline-block;
    		float: center;
    		clear: center;
   		width: 250px;
    		text-align: center;
                Color:rgba(255,0,0,0.6);
		font-size: 14px;
		font-family: Arial, Helvetica, sans-serif;
	}
input[type=text], select 
	{
  		width: 50%;
  		padding: 5px 5px;
  		margin: 9px 0;
  		display: inline-block;
  		border: 2px solid #ccc;
  		border-radius: 10px;
  		box-sizing: border-box;
		font-size: 14px; 
		text-align: center;
	}

input[type=submit] 
	{
		width: 40%;
  		background-color:rgba(255,0,0,0.6);
  		color: white;
		align: right;
  		margin: 9px 0;
  		border: none;
  		border-radius: 10px;
  		cursor: pointer;
		font-size: 14px; 
		padding: 5px 5px;
}
input[type=password], select 
	{
  		width: 50%;
  		padding: 5px 5px;
  		margin: 9px 0;
  		display: inline-block;
  		border: 2px solid #ccc;
  		border-radius: 8px;
  		box-sizing: border-box;
		font-size: 14px; 
		text-align: center;
	}
input[type=submit]:hover 
	{
  		background-color:brown
		align: center;
	}
q 
	{
  		width: 400px;
		margin: auto;
  		border: 3px solid white;
		position: fixed;
  		bottom: 150;
  		right: 550;
		text-align:center;
	}
p
{
  color:white;
  text-indent:30px;
  text-transform:uppercase;
  margin-left:600;
  margin-bottom:lem;
}
</style>
</head>
<body>
     <div class="topnav">
      <a class="active" href="#">Sign Up</a>
      <a href="/login">Login</a>
      
</div>
    
<head>
  <style>
    h1 {color: white;}
  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head> 
<body>
<h1><center>COLLEGE DATABASE MANAGEMENT</h1>
</body>
</html>

<q style="padding-left:30px">
  <form action="/signup" method="post">
    		
    		<br>
		<label for="user">Username</label>
    		<input type="text" id="user" name="user" placeholder="Enter username">
		
                <br>
		<label for="user">Email Id</label>
    		<input type="text" id="emailid" name="emailid" placeholder="Enter emailid">
		
                <br>
		<label for="pass">Password</label>
    		<input type="password" id="pass" name="passn" placeholder="Enter password">
		
		<br>
		<label for="pass">Re-enter Password</label>
    		<input type="password" id="pass" name="passn2" placeholder="Re-enter Password">

  		<br>
		<button type="submit" onClick="alert('Signup success')" class="btn btn-success btn-lg">Sign Up</button>
	</form>
</q>

</body>
</html>